[submodule "ThirdParty/MBProgressHUD"]
	path = ThirdParty/MBProgressHUD
	url = https://github.com/lfranchi/MBProgressHUD.git
[submodule "ThirdParty/DTCoreText"]
	path = ThirdParty/DTCoreText
	url = https://github.com/zulip/DTCoreText.git
