[submodule "ThirdParty/MBProgressHUD"]
	path = ThirdParty/MBProgressHUD
	url = https://github.com/lfranchi/MBProgressHUD.git
[submodule "ThirdParty/WebViewController"]
	path = ThirdParty/WebViewController
	url = https://github.com/Zulip/Browser-View-Controller--iPhone-.git
